.left-contents
  .left__header
    .left__header__name
      %p
        = curren_user.name
    %ul.left-header__iconlist
      %li.list__icon<>
        = link_to new_group_path do
          = fa_icon "edit", class: "icon__new--btn"
      %li.list__icon<>
        = link_to edit_user_path(current_user),class: "icon-edit" do
  .left__list
    - current_user.groups.each do |group|
    .left-list__item
      = link_to group_messages_path(group) do
      .room-name
        = group.name
      .room-info
        = group.show_last_message

.main-contents
  .main__header
    .header__info
      .info__name
        %p
           = curren_user.name
      .info__memberlist
        %p
          Member:  
            = group.show_last_message
    .header__btn
      = link_to "Edit", "" , class: "edit-btn"
  .main__messages
    .message__item
      .message-sender
        %p  
          = curren_user.name
      .message-date
        %p 2019/10/15(Tue) 11:40:55

      .message-text
        %p samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
  .main__form
    = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .input__box
        = f.text_field :text, placeholder: "type a text", class: "message__form"
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
          = f.file_field :image, id: "upload-icon"
      = f.submit value: "Send", class: "send__btn"