.chat-main
  .header
    .header__group-box
      %h2.header__group-box__group-name
        = @group.name
      %ul.header__group-box__member-list
        Member：
        %li.header__group-box__member-list__member
          - @group.users.each do |user|	 
            %li.member
              = user.name
    .right-header
      = link_to 'Edit',edit_group_path(@group.id), class: "right-header1"

  .messages
    = render partial: 'messages/message', collection: @messages

  .form
    = form_for [@group, @message],id: "new_message" do |f|
      .form__mask
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__image' do
          = fa_icon 'picture-o', class: 'icon3'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit' 